:root{
    --principal-color:#11011E;
    --primary-color:#0FAE96;
    --box-principal:#FFFFFF0D;
    --btn-secundary:#EAEAEA;

}

body{
    background-color: var(--principal-color);
}
nav{
    background-color: var(--principal-color) !important;
}
.logito span{
    color: var(--primary-color);
    font-size: 1.4rem !important;
}
.Box-media-img-info{
    width:80px !important;
    height: 80px;
    margin-left: 50px;
}

.Box-info{
    width:296px;
    height:343px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: var(--box-principal);


}
.Box-info div{
    padding-left: 50px;
}
.Box-info p{
    margin:0;
    padding: 0;
}
.Botones{
    width:80px ;
    height:44px;
    margin: 10px;
    font-size: 10px ;

}
.btn1{
    width:125px ;
}
.btn1{
    width:104px ;
}
.Botones:hover,.Botones:hover p{
    background: var(--btn-secundary) !important;
    color:black;
}
.Box-started{
    width:533px;
    height:128px;
    border-radius: 18px;
    display:flex;
    margin-left: 540px;
    justify-content:center;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: -10px;

    background-color: var(--box-principal);


}
.Box-media-img-started{
    width:80px !important;
    height: 80px;
    margin-left: 50px;
}
.Box-started div{
    padding-left: 40px;
  
}
.Box-started p{
    margin:0;
    padding: 0;
}

.footer{
    color: #EAEAEA;
    margin-top: 30px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    
  }
  
  .footer > div:last-child > div:first-child > div h5{
      font-weight: bold;
      margin-top: 20px;
  }